.catalogo-bg {
  background-color: #f8f8f8;
  padding-top: 2rem;
  padding-bottom: 2rem;

  .catalogo {
    h1 {
      text-align: center;
      padding-bottom: 1.5rem;
    }

    p {
      text-align: center;
      padding-bottom: 3.125rem;
    }

    .catalogo-img {
      ul {
        display: grid;
        grid-template-columns: repeat(4, 250px);
        gap: 2rem;
        justify-content: center;
        align-items: center;

        li {
          background-color: #EBE9EA;
          padding: 3.125rem;
  
          img {
            height: 100px;
            max-width: fit-content;

            &:hover {
              cursor: pointer;
              transform: scale(1.2);
              transition: .3s;
            }
          }
        }
      }
    }
  }
}