.contact-bg {
  padding-top: 2rem;
  padding-bottom: 2rem;
  
  .contact {
    display: grid;
    grid-template-columns: repeat(2,450px);
    gap: 20px;

    h1 {
      grid-column: 2;
      padding-bottom: 2.5rem;
    }

    .maps {
      grid-column: 1/2;

      img {
        max-width: fit-content;
        max-height: 600px;
      }
    }

    .contact-details {
      grid-column: 2;
      align-self: center;

      ul {  
        li {
          padding-bottom: 1.25rem;
          display: flex;
          align-items: center;

          &::before {
            content: '';
            width: 8px;
            height: 8px;
            border-radius: 50%;
            display: inline-block;
            background-color: #eede05;
            margin-right: 6px;
          }
        }
      }
    }
  }
}